<div class="monsterCard">
  <span> 
    <input type="search" placeholder="Search your university" (keyup)="onChange($event)" /> &nbsp;
    <button type="button"  (click)="getCountries()">Find</button>
    <div class="ng-autocomplete">
      <ng-autocomplete 
        [data]="data"
        [searchKeyword]="keyword"
        placeholder="Select country"
        (selected)='selectEvent($event)'
        (inputChanged)='onChangeSearch($event)'
        (change)="changeFunc($event)"
        (inputFocused)='onFocused($event)'
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate">                                 
      </ng-autocomplete>
      
      <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
      </ng-template>
      
      <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
      </ng-template>
      </div>



  </span>
<span *ngFor="let item of items$ | async">
    {{ item.name }}
</span>
<div class="country-default">
  <span  *ngFor="let COUNTRY of COUNTRIES">
    {{ COUNTRY.name}}
</span>




</div>
 



</div>




